* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
}

.crossHair {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: transparent;
  /* position: absolute; */
  /* left: 512px; */
  /* top: 360px; */
}
.crossHair::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  opacity: 0.8;
  height: 5px;
  margin-top: -5px;
  top: 58%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.crossHair::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  opacity: 0.8;
  width: 5px;
  margin-left: -5px;
  left: 57%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}


@font-face {
  font-family: 'arcadeClassic';
  src: url(assets/ARCADECLASSIC.TTF);
}